
<a href="/users" class="user_image" ></a>
<% if @user.image %>
  <%= image_tag( @user.image ) %>
<% end %>

<ul class="user_details">
  <li>Name: <%= @user.name %></li>
  <li>Location: <%= @user.location %></li>
  <li>Email: <%= @user.email %></li>
  <li>
      Average Rating: <%= rating_for @user, "avg", path: 'star_icons', cancel: true, cancel_hint: 'Cancel this rating!', cancel_place: 'right', disable_after_rate: false  %>
  </li>
</ul>

<ul class="service_details">
    <% @user.services.each do |service| %>
      <div>
        <%= link_to(image_tag(service.name), "/services/#{service.id}") %>
        <%= link_to 'Edit', edit_service_path(service) %>
      </div>
      <div>
        <%=  %>
      </div>
    <% end %>
</ul>

<div class="container" width: 40%;>
  <div class="row center">
    <a href="/pets/new" class="waves-effect waves-light btn blue">Add New Pet</a>
 </div>
<!-- <#%#= form_tag "/users/#{ @user.id }/rate", method: "POST" do %>
  <#%#= number_field_tag "rating", min: 1, max: 5 %>
  <#%#= submit_tag "Create Rating" %>
<#%# end %> -->

<h2> Pets List </h2>

  <% @user.pets.each do |pet| %>
    <div class="listImage" >
      <%= link_to(image_tag(pet.image), "/pets/#{pet.id}") %>
      <%= link_to 'Delete Pet', pet_path(pet),
              method: :delete,
              data: { confirm: 'Are you sure?' }  %>
    </div>
  <% end %>

    </div>
</div>
