
<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image, required: true %>
  </p>
  <!-- services added  -->
  <p>
    <%= f.label :Service_name %>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :name, required: true %>
  </p>

  <!--
    SERVICES NEED TO GO HERE
    UPDATE USER_PARAMS
  -->

  <%= f.submit %>
  <% end %>
