
<a href="/users" ></a>
<%= image_tag( @user.image ) %>


<ul>
  <li>name: <%= @user.name %></li>
  <li>Location: <%= @user.location %></li>
  <li>Email: <%= @user.email %></li>
  <ul>
    <% @user.services.each do |service| %>
      <div>
        <%= link_to(image_tag(service.name), "/services/#{service.id}") %>
      </div>
    <% end %>
  </ul>
</ul>
<div class="container" width: 40%;>
<div class="row center">



<h2> Pets List </h2>

<ul>
  <% @user.pets.each do |pet| %>
    <div class="listImage" >
      <%= link_to(image_tag(pet.image), "/pets/#{pet.id}") %>
    </div>
  <% end %>
</ul>



    </div>

</div>
