<h3><%= @user.name %></h3>

<a href="/users" ></a>

<table>
  <tr>
    <td>
      Name: <%= @user.name  %>
    </td>
    <td>
      Email: <%= @user.email %>
    </td>
    <td>
      Location: <%= @user.location %>
    </td>
    <td>
      Image: <%=image_tag @user.image %>
    </td>
    <td>

    </td>
  </tr>
</table>


<!-- ENTER SERVICES AND PETS BUTTONS FROM HERE  -->
