<!DOCTYPE html>
<html>
  <head>
    <title>PetSitterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <body>
    <%#= flash[:error] %>
     <div class="navbar">
       <nav class="blue accent-2" role="navigation">

         <div class="nav-wrapper container">

           <a id="brand-logo" href="/">
             <img src="http://i.imgur.com/iQznv6t.png" class="logo">
           </a>

    <% if @current_user %>
      <ul class="right hide-on-med-and-down"><%= link_to "Log Out", "/logout", method: :delete %> </ul>
      <ul class="right hide-on-med-and-down" id="userpic"><%= link_to @current_user.email, user_path(@current_user) %> </ul>
      <ul class="right hide-on-med-and-down"><%= link_to "Edit Profile", edit_user_path(@current_user) %> </ul>
    <% else %>
       <ul class="right hide-on-med-and-down">
         <li><a href="/login" class="btn-small waves-effect waves-light ">Login</a></li>
       </ul>
       <ul class="right hide-on-med-and-down">
         <li><a href="/users/new" class="btn-small waves-effect waves-light ">Sign Up</a></li>
       </ul>
    <% end %>

        <ul class="right hide-on-med-and-down">
          <li><a href="/book" class="btn-small waves-effect waves-light">Book A Sitter</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li><a href="/wall" class="btn-small waves-effect waves-light">Wall Of Pets</a></li>
        </ul>

      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
